html,
.body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}


.gradient {
    
    background: rgb(12,0,83);
    background: linear-gradient(90deg, rgba(12,0,83,1) 0%, rgba(154,12,161,1) 53%, rgba(0,212,255,1) 100%);

}

.page-header {
    margin-top: 4.25rem;
    font-size: 1.50rem;
    color:white;
}


.feature {
    color:white
}


.feature ul {
    padding-left:3rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(https://www.freeiconspng.com/thumbs/check-tick-icon/black-check-tick-icon-4.png);
    background-repeat: no-repeat;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}


.icon {
    color:magenta;
    height: 5rem;
    width: 5rem;
    font-size: 1.50rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: antiquewhite;
}

.gallery img {
    border-radius: 8%;
}


.huskies {
    color: red;
}

.footer {
    color:bisque;
    font: size 2.5rem;
    margin:0;
    padding: 1.25;
    
    
}

a {
color:white;
text-decoration: none;
}